<section class="filters">
  <aside class="filters__aside">
    <div class="filters__top">
      <span class="filters__name">Type</span>
      <ul class="filters__list-type list-reset">
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox" checked>
            <span class="filters__input-type filters__input-type--checked">Sport</span>
            <span class="filters__input-amount">(10)</span>
          </label>
        </li>
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox">
            <span class="filters__input-type filters__input-type--checked">SUV</span>
            <span class="filters__input-amount">(12)</span>
          </label>
        </li>
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox">
            <span class="filters__input-type">MPV</span>
            <span class="filters__input-amount">(16)</span>
          </label>
        </li>
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox">
            <span class="filters__input-type">Sedan</span>
            <span class="filters__input-amount">(20)</span>
          </label>
        </li>
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox">
            <span class="filters__input-type">Coupe</span>
            <span class="filters__input-amount">(14)</span>
          </label>
        </li>
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox">
            <span class="filters__input-type">Hatchback</span>
            <span class="filters__input-amount">(14)</span>
          </label>
        </li>
      </ul>
    </div>
    <div class="filters__middle">
      <span class="filters__name">Capacity</span>
      <ul class="filters__list-type list-reset">
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox" checked>
            <span class="filters__input-type filters__input-type--checked">2 Person</span>
            <span class="filters__input-amount">(10)</span>
          </label>
        </li>
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox">
            <span class="filters__input-type">4 Person</span>
            <span class="filters__input-amount">(14)</span>
          </label>
        </li>
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox">
            <span class="filters__input-type">6 Person</span>
            <span class="filters__input-amount">(12)</span>
          </label>
        </li>
        <li class="filters__item">
          <label class="filters__custom-check">
            <input class="filters__input" type="checkbox">
            <span class="filters__input-type filters__input-type--checked">8 or More</span>
            <span class="filters__input-amount">(16)</span>
          </label>
        </li>
      </ul>
    </div>
    <div class="filters__bottom">
      <span class="filters__name filters__name--bottom">Price</span>
      <label class="filters__label-range">
        <input type="range" min="1" max="100" value="76" id="myRange">
        <p class="filters__bottom-price">Max. $<span id="current"></span>
        </p>
      </label>
    </div>
  </aside>
</section>
