<section class="hero">
  <div class="hero__container">
    <div class="hero__left">
      <div class="hero__left-top">
        <div class="hero__left-top-text-inner">
          <h2 class="hero__left-top-title">
            Sports car with the best design and acceleration
          </h2>
          <p class="hero__left-top-text">
            Safety and comfort while driving a
            futuristic and elegant sports car
          </p>
        </div>
        <div class="hero__image-inner">
          <picture>
            <source srcset="img/left-top-car.avif" type="image/avif">
            <source srcset="img/left-top-car.webp" type="image/webp">
            <source srcset="img/left-top-car.jpg">
            <img class="hero__left-top-image" src="img/left-top-car.png" width="380" loading="lazy"
              alt="photo car Nissan GT-R">
          </picture>
        </div>
      </div>
      <div class="hero__left-bottom">
        <ul class="hero__left-bottom-list list-reset">
          <li class="hero__left-bottom-item">
            <picture>
              <source srcset="img/bottom-image-left.avif" type="image/avif">
              <source srcset="img/bottom-image-left.webp" type="image/webp">
              <source srcset="img/bottom-image-left.jpg">
              <img src="img/bottom-image-left.png" class="hero__left-bottom-image hero__left-bottom-image--current"
                width="148" loading="lazy" alt="photo car Nissan GT-R">
            </picture>
          </li>
          <li class="hero__left-bottom-item">
            <picture>
              <source srcset="img/bottom-image-center.avif" type="image/avif">
              <source srcset="img/bottom-image-center.webp" type="image/webp">
              <source srcset="img/bottom-image-center.jpg">
              <img src="img/bottom-image-center.png" class="hero__left-bottom-image" width="148" loading="lazy"
                alt="car dashboard photo Nissan GT-R">
            </picture>
          </li>
          <li class="hero__left-bottom-item">
            <picture>
              <source srcset="img/bottom-image-right.avif" type="image/avif">
              <source srcset="img/bottom-image-right.webp" type="image/webp">
              <source srcset="img/bottom-image-right.jpg">
              <img class="hero__left-bottom-image" src="img/bottom-image-right.png" width="148" loading="lazy"
                alt="car interior photo Nissan GT-R">
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero__right">
      <div class="hero__right-title-inner">
        <h2 class="hero__right-title">
          Nissan GT - R
        </h2>
        <button class="hero__right-favorite-btn btn-reset btn-favorite btn-favorite-full"
          aria-label="button to add to favorites in the form of a heart icon" type="button" id="full"></button>
      </div>
      <div class="hero__right-star-inner star-rating">
        <div class="star-rating">
          <ul class="star-rating__list list-reset">
            <li class="star-rating__item">
              <svg>
                <use href="img/svg/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="star-rating__item">
              <svg class="star-rating__icon">
                <use href="img/svg/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="star-rating__item">
              <svg class="star-rating__icon">
                <use href="img/svg/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="star-rating__item">
              <svg class="star-rating__icon">
                <use href="img/svg/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="star-rating__item">
              <svg class="star-rating__icon">
                <use href="img/svg/sprite.svg#star-empty"></use>
              </svg>
            </li>
          </ul>
          <span class="hero__right-star-reviewer">440+ Reviewer</span>
        </div>
      </div>
      <p class="hero__right-descr">
        NISMO has become the embodiment of Nissan's outstanding performance, inspired by the most unforgiving proving
        ground,
        the "race track".
      </p>
      <div class="hero__right-type-inner">
        <ul class="hero__right-type-left list-reset">
          <li class="hero__type-left-top">
            <span class="hero__type">Type Car</span>
            <span class="hero__type-item">Sport</span>
          </li>
          <li class="hero__type-left-bottom">
            <span class="hero__type">Steering </span>
            <span class="hero__type-item">Manual</span>
          </li>
        </ul>
        <ul class="hero__left-type-right list-reset">
          <li class="hero__type-right-top">
            <span class="hero__type">Capacity</span>
            <span class="hero__type-item">2 Person</span>
          </li>
          <li class="hero__type-right-bottom">
            <span class="hero__type">Gasoline</span>
            <span class="hero__type-item">70L</span>
          </li>
        </ul>
      </div>
      <div class="hero__right-price">
        <div class="hero__price">
          <div class="hero__price-inner">
            <span class="hero__price-new">$80.00/</span>
            <span class="hero__price-day">days</span>
          </div>
          <span class="hero__price-old">$100.00</span>
        </div>
        <a class="hero__right-rent-btn btn-reset" href="#">Rent Now</a>
      </div>
    </div>
  </div>
</section>
