<section class="recent">
  <div class="recent__container">
    <div class="recent__top-inner">
      <div class="recent__top">
        <span class="recent__top-subtitle">Recent Car</span>
        <a class="recent__top-link" href="#">View All</a>
      </div>
      <ul class="recent__list list-reset">
        <li class="recent__item recent__item--top">
          <div class="recent__title-inner">
            <h3 class="recent__title">Koenigsegg</h3>
            <button class="btn-favorite-full btn-reset" type="button"
              aria-label="button to add to favorites in the form of a heart icon"></button>
          </div>
          <span class="recent__text">Sport</span>
          <div class="recent__image-inner recent__image-inner--one">
            <picture>
              <source srcset="img/recent-first-img.avif" type="image/avif">
              <source srcset="img/recent-first-img.webp" type="image/webp">
              <source srcset="img/recent-first-img.jpg">
              <img class="recent__image" src="img/recent-first-img.png" width="272" loading="lazy"
                alt="Koenigsegg photo of a car on a white background on the right side">
            </picture>
          </div>
          <ul class="recent__options list-reset">
            <li class="recent__option-item recent__option-item--gasolina">
              <span class="recent__option-gasolina">90L</span>
            </li>
            <li class="recent__option-item recent__option-item--manual">
              <span class="recent__option-manual">Manual</span>
            </li>
            <li class="recent__option-item recent__option-item--people">
              <span class="recent__option-people">2 People</span>
            </li>
          </ul>
          <div class="recent__bottom-price">
            <div class="recent__price">
              <span class="recent__price-current">$99.00/</span>
              <span class="recent__price-day">day</span>
            </div>
            <a class="recent__btn-rent" href="#">Rent Now</a>
          </div>
        </li>
        <li class="recent__item recent__item--top">
          <div class="recent__title-inner">
            <h3 class="recent__title">Nissan GT - R</h3>
            <button class="btn-favorite btn-reset" type="button"
              aria-label="button to add to favorites in the form of a heart icon"></button>
          </div>
          <span class="recent__text">Sport</span>
          <div class="recent__image-inner recent__image-inner--two">
            <picture>
              <source srcset="img/recent-second-img.avif" type="image/avif">
              <source srcset="img/recent-second-img.webp" type="image/webp">
              <source srcset="img/recent-second-img.jpg">
              <img class="recent__image" src="img/recent-second-img.png" width="228" loading="lazy"
                alt="Nissan GT - R photo of a car on a white background on the right side">
            </picture>
          </div>
          <ul class="recent__options list-reset">
            <li class="recent__option-item recent__option-item--gasolina">
              <span class="recent__option-gasolina">80L</span>
            </li>
            <li class="recent__option-item recent__option-item--manual">
              <span class="recent__option-manual">Manual</span>
            </li>
            <li class="recent__option-item recent__option-item--people">
              <span class="recent__option-people">2 People</span>
            </li>
          </ul>
          <div class="recent__bottom-price">
            <div class="recent__bottom-left">
              <div class="recent__price-inner">
                <span class="recent__price-current">$80.00/</span>
                <span class="recent__price-day">day</span>
              </div>
              <span class="recent__price-old">$100.00</span>
            </div>
            <a class="recent__btn-rent" href="#">Rent Now</a>
          </div>
        </li>
        <li class="recent__item recent__item--top">
          <div class="recent__title-inner">
            <h3 class="recent__title">Rolls-Royce</h3>
            <button class="btn-favorite btn-reset" type="button"
              aria-label="button to add to favorites in the form of a heart icon"></button>
          </div>
          <span class="recent__text">Sport</span>
          <div class="recent__image-inner recent__image-inner--three">
            <picture>
              <source srcset="img/recent-third-img.avif" type="image/avif">
              <source srcset="img/recent-third-img.webp" type="image/webp">
              <source srcset="img/recent-third-img.jpg">
              <img class="recent__image" src="img/recent-third-img.png" width="244" loading="lazy"
                alt="Rolls-Royce photo of a car on a white background on the right side">
            </picture>
          </div>
          <ul class="recent__options list-reset">
            <li class="recent__option-item recent__option-item--gasolina">
              <span class="recent__option-gasolina">70L</span>
            </li>
            <li class="recent__option-item recent__option-item--manual">
              <span class="recent__option-manual">Manual</span>
            </li>
            <li class="recent__option-item recent__option-item--people">
              <span class="recent__option-people">4 People</span>
            </li>
          </ul>
          <div class="recent__bottom-price">
            <div class="recent__price">
              <span class="recent__price-current">$96.00/</span>
              <span class="recent__price-day">day</span>
            </div>
            <a class="recent__btn-rent" href="#">Rent Now</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="recent__bottom-inner">
      <div class="recent__bottom">
        <span class="recent__bottom-subtitle recent__bottom-subtitle--color">Recomendation Car</span>
        <a class="recent__bottom-link" href="#">View All</a>
      </div>
      <ul class="recent__list list-reset">
        <li class="recent__item recent__item--bottom">
          <div class="recent__title-inner">
            <h3 class="recent__title">All New Rush</h3>
            <button class="btn-favorite btn-reset" type="button"
              aria-label="button to add to favorites in the form of a heart icon"></button>
          </div>
          <span class="recent__text recent__text-upper">Suv</span>
          <div class="recent__image-inner recent__image-inner--one-bottom">
            <picture>
              <source srcset="img/recent-first-bottom-img.avif" type="image/avif">
              <source srcset="img/recent-first-bottom-img.webp" type="image/webp">
              <source srcset="img/recent-first-bottom-img.jpg">
              <img class="recent__image" src="img/recent-first-bottom-img.png" width="252" loading="lazy"
                alt="All New Rush photo of a car on a white background on the right side">
            </picture>
          </div>
          <ul class="recent__options list-reset">
            <li class="recent__option-item recent__option-item--gasolina">
              <span class="recent__option-gasolina">70L</span>
            </li>
            <li class="recent__option-item recent__option-item--manual">
              <span class="recent__option-manual">Manual</span>
            </li>
            <li class="recent__option-item recent__option-item--people">
              <span class="recent__option-people">6 People</span>
            </li>
          </ul>
          <div class="recent__bottom-price">
            <div class="recent__bottom-left">
              <div class="recent__price-inner">
                <span class="recent__price-current">$72.00/</span>
                <span class="recent__price-day">day</span>
              </div>
              <span class="recent__price-old">$80.00</span>
            </div>
            <a class="recent__btn-rent" href="#">Rent Now</a>
          </div>
        </li>
        <li class="recent__item recent__item--bottom">
          <div class="recent__title-inner">
            <h3 class="recent__title">CR - V</h3>
            <button class="btn-favorite-full btn-reset" type="button"
              aria-label="button to add to favorites in the form of a heart icon"></button>
          </div>
          <span class="recent__text recent__text-upper">Suv</span>
          <div class="recent__image-inner recent__image-inner--two-bottom">
            <picture>
              <source srcset="img/recent-second-bottom-img.avif" type="image/avif">
              <source srcset="img/recent-second-bottom-img.webp" type="image/webp">
              <source srcset="img/recent-second-bottom-img.jpg">
              <img class="recent__image" src="img/recent-second-bottom-img.png" width="254" loading="lazy"
                alt="CR - V photo of a car on a white background on the right side">
            </picture>
          </div>
          <ul class="recent__options list-reset">
            <li class="recent__option-item recent__option-item--gasolina">
              <span class="recent__option-gasolina">80L</span>
            </li>
            <li class="recent__option-item recent__option-item--manual">
              <span class="recent__option-manual">Manual</span>
            </li>
            <li class="recent__option-item recent__option-item--people">
              <span class="recent__option-people">6 People</span>
            </li>
          </ul>
          <div class="recent__bottom-price">
            <div class="recent__bottom-left">
              <div class="recent__price-inner">
                <span class="recent__price-current">$80.00/</span>
                <span class="recent__price-day">day</span>
              </div>
            </div>
            <a class="recent__btn-rent" href="#">Rent Now</a>
          </div>
        </li>
        <li class="recent__item recent__item--bottom">
          <div class="recent__title-inner">
            <h3 class="recent__title">All New Terios</h3>
            <button class="btn-favorite btn-reset" type="button"
              aria-label="button to add to favorites in the form of a heart icon"></button>
          </div>
          <span class="recent__text recent__text-upper">Suv</span>
          <div class="recent__image-inner recent__image-inner--three-bottom">
            <picture>
              <source srcset="img/recent-third-botton-img.avif" type="image/avif">
              <source srcset="img/recent-third-botton-img.webp" type="image/webp">
              <source srcset="img/recent-third-botton-img.jpg">
              <img class="recent__image" src="img/recent-third-botton-img.png" width="252" loading="lazy"
                alt="All New Terios photo of a car on a white background on the right side">
            </picture>
          </div>
          <ul class="recent__options list-reset">
            <li class="recent__option-item recent__option-item--gasolina">
              <span class="recent__option-gasolina">90L</span>
            </li>
            <li class="recent__option-item recent__option-item--manual">
              <span class="recent__option-manual">Manual</span>
            </li>
            <li class="recent__option-item recent__option-item--people">
              <span class="recent__option-people">6 People</span>
            </li>
          </ul>
          <div class="recent__bottom-price">
            <div class="recent__price">
              <span class="recent__price-current">$74.00/</span>
              <span class="recent__price-day">day</span>
            </div>
            <a class="recent__btn-rent" href="#">Rent Now</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
