<section class="reviews">
  <div class="reviews__container">
    <div class="reviews__title-inner">
      <h3 class="reviews__title">Reviews</h3>
      <span class="reviews__amount">13</span>
    </div>
    <div class="reviews__feedback">
      <div class="reviews__top">
        <div class="reviews__top-info">
          <div class="reviews__top-left">
            <picture>
              <source srcset="img/reviews-top-image.avif" type="image/avif">
              <source srcset="img/reviews-top-image.webp" type="image/webp">
              <source srcset="img/reviews-top-image.jpg">
              <img class="reviews__image" src="img/reviews-top-image.png" width="56" loading="lazy"
                alt="photo of the user who left the review">
            </picture>
            <div class="reviews__author-inner">
              <span class="reviews__author-name">Alex Stanton</span>
              <span class="reviews__author-position">CEO at Bukalapak</span>
            </div>
          </div>
          <div class="reviews__top-right">
            <time class="reviews__date-review">21 July 2022</time>
            <div class="star-rating">
              <ul class="star-rating__list reviews-star-rating list-reset">
                <li class="star-rating__item">
                  <svg>
                    <use href="img/svg/sprite.svg#star-full"></use>
                  </svg>
                </li>
                <li class="star-rating__item">
                  <svg class="star-rating__icon">
                    <use href="img/svg/sprite.svg#star-full"></use>
                  </svg>
                </li>
                <li class="star-rating__item">
                  <svg class="star-rating__icon">
                    <use href="img/svg/sprite.svg#star-full"></use>
                  </svg>
                </li>
                <li class="star-rating__item">
                  <svg class="star-rating__icon">
                    <use href="img/svg/sprite.svg#star-full"></use>
                  </svg>
                </li>
                <li class="star-rating__item">
                  <svg class="star-rating__icon">
                    <use href="img/svg/sprite.svg#star-empty"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p class="reviews__text">
          We are very happy with the service from the MORENT App. Morent has a low price and also a large variety of
          cars
          with good and comfortable facilities. In addition, the service provided by the officers is also very
          friendly
          and very polite.
        </p>
      </div>
      <div class="reviews__bottom">
        <div class="reviews__bottom-info">
          <div class="reviews__bottom-left">
            <picture>
              <source srcset="img/reviews-bottom-image.avif" type="image/avif">
              <source srcset="img/reviews-bottom-image.webp" type="image/webp">
              <source srcset="img/reviews-bottom-image.jpg">
              <img class="reviews__image" src="img/reviews-bottom-image.png" width="56" loading="lazy"
                alt="photo of the user who left the review">
            </picture>
            <div class="reviews__author-inner">
              <span class="reviews__author-name">Skylar Dias</span>
              <span class="reviews__author-position">CEO at Amazon</span>
            </div>
          </div>
          <div class="reviews__bottom-right">
            <time class="reviews__date-review">20 July 2022</time>
            <div class="star-rating">
              <ul class="star-rating__list reviews-star-rating list-reset">
                <li class="star-rating__item">
                  <svg>
                    <use href="img/svg/sprite.svg#star-full"></use>
                  </svg>
                </li>
                <li class="star-rating__item">
                  <svg class="star-rating__icon">
                    <use href="img/svg/sprite.svg#star-full"></use>
                  </svg>
                </li>
                <li class="star-rating__item">
                  <svg class="star-rating__icon">
                    <use href="img/svg/sprite.svg#star-full"></use>
                  </svg>
                </li>
                <li class="star-rating__item">
                  <svg class="star-rating__icon">
                    <use href="img/svg/sprite.svg#star-full"></use>
                  </svg>
                </li>
                <li class="star-rating__item">
                  <svg class="star-rating__icon">
                    <use href="img/svg/sprite.svg#star-empty"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p class="reviews__text">
          We are greatly helped by the services of the MORENT Application. Morent has low prices and also a wide variety
          of cars with good and comfortable facilities. In addition, the service provided by the officers is also very
          friendly and very polite.
        </p>
      </div>
      <a class="reviews__all-link" href="#">
        Show All
      </a>
    </div>
  </div>
</section>
